<ion-view>
    <ion-content>
        <ion-header-bar>
            <h1 class="title">Start Page Assignment 3</h1>
        </ion-header-bar>
        <ion-content>
            <center>
                Web and Mobile Development Assignment 3.<br>
                Slide the menu bar to access the different options.<br>
            </center>
        </ion-content>
    </ion-content>
</ion-view>